.drop {
   .buttons-list {
      padding: 35px 0;

      &__item {
         margin-right: 22px;

         font-family: 'Inter', sans-serif;
         font-style: normal;
         font-weight: 400;
         font-size: 16px;
         line-height: 16px;
      
         color: $primary;
      
         background: $buttonColorHover;
         border-radius: 50px;
         padding: 16px 32px;
      
         transition: all .3s ease;
      
         &:hover {
            background: $buttonColor;
         }
      }
   }

   .drop {

		// .drop__list
		&__list {
         display: flex;
         gap: 20px;
         flex-wrap: wrap;
         flex: 0 1 23.75%; /* 285px/1200 */
		}

		// .drop__item
		&__item {
		}
   }

   .card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
      gap: 10px;
      
      // width: 285px;
      // height: 377px;
      
      background: $primary;
      border-radius: 8px;

		// .card__images
		&__images {
		}

		// .card__img
		&__img {
		}

		// .card__title
		&__title {
         font-weight: 700;
         font-size: 18px;
         line-height: 34px;         
         letter-spacing: -0.02em;
         
         color: #242323;
		}

		// .card__price-block
		&__price-block {
         display: flex;
         width: 100%;
         justify-content: space-between;
         align-items: center;
		}

		// .card__price
		&__price span{
         font-weight: 500;
         font-size: 12px;
         line-height: 15px;
         letter-spacing: -0.02em;
         
         color: #815EE3;
		}

		// .card__icon
		&__icon {
         margin-right: 6px;
		}

		// .card__collection
		&__collection {
         font-weight: 400;
         font-size: 12px;
         line-height: 15px;
         
         letter-spacing: -0.02em;
         
         color: #989898;
		}

		// .card__footer
		&__footer {
         display: flex;
         justify-content: space-between;
         align-items: center;
		}

		// .card__time
		&__time {
		}

		// .card__place
		&__place {
		}
   }

}

._buttons-active {
   background: $buttonColor;
}