.hero {
   padding: 80px 0 30px 0;
   // background: url('../img/slide1.png') center / cover no-repeat ;
   // min-height: 712px;
   display: block;
   position: relative;
   z-index: 3;
   // align-items: center;
   
   &__content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   }

   // &__suptitle {
   //    font-weight: 300;
   //    font-size: 40px;
   //    line-height: 40px;
   //    text-transform: uppercase;
   //    color: $primary;
   
   //    margin-bottom: 32px;
   // }

   &__container {
      display: flex;
      // justify-content: space-between;
      gap: 30px;
   }

   &__title {
      position: relative;
      font-weight: 900;
      font-size: 75px;
      line-height: 90px;
      // text-transform: uppercase;
      color: $primary;

      margin-bottom: 25px;

      &::after {
         position: absolute;
         content: ' ';
         left: 45%;
         bottom: 0;
         background: url('../img/hero-star.svg') no-repeat;
         width: 85px;
         height: 85px;
         // z-index: 2;
      }
   }

   &__title-color {
      background: -webkit-linear-gradient(315deg, #8D1CFE, #0038ED);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
   }
   
   &__subtitle {
      font-family: 'Open Sans';
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: $primary;

      max-width: 418px;
      padding-bottom: 50px; 
   }

   &::before {
      position: absolute;
      content: ' ';
      left: -20%;
      top: -20%;
      background: url('../img/shadow-bg.png') center / cover no-repeat;
      filter: blur(25px);
      width: 100%;
      height: 100%;
      z-index: -1;
   }

   &__right {
      z-index: 1;
      padding: 60px 40px 60px 0;
      position: relative;
   }

   &__images {
      z-index: 2;
      position: relative;
      &::before {
         position: absolute;
         content: ' ';
         left: -17%;
         top: -10%;
         background: url('../img/hero-img/image-2.png') center / cover no-repeat;
         width: 367px;
         height: 438px;
         z-index: -1;
      }
      &::after {
         position: absolute;
         content: ' ';
         right: -15%;
         bottom: -13%;
         background: url('../img/hero-img/image-3.png') center / cover no-repeat;
         width: 367px;
         height: 438px;
         z-index: -1;
      }
   }

   @media (max-width: $breakpoint768) {
      .hero__title {
         text-align: center;
         font-size: 60px;
      }
      .hero__suptitle {
         font-size: 30px;
         text-align: center;
      }
   }
}

// Button
._button-hero {
   width: 120px;
   white-space: nowrap;
   padding: 47px 10px;
   font-family: 'Inter', sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 26px;
   color: $primary;

   background: $buttonColor;
   border-radius: 100%;
   transition: all .3s ease;

   &:hover {
      background: $buttonColorHover;
   }
}

// Numbers
.numbers {
   margin-top: 70px;
   display: flex;
   gap: 30px;

   // .numbers__item
   &__item {
   }

   // .numbers__title
   &__title {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.003em;

      color: $primary;
   }

   // .numbers__number
   &__number {
      font-weight: 700;
      font-size: 28px;
      line-height: 34px;
      
      color: $primary;
   }
}
