// Breakpoint & Container
$containerWidth: 1200 + px;
$breakpoint1200: 1199.98 + px;
$breakpoint1024: 1023.98 + px;
$breakpoint930: 929.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Colors 
$titleColor: #fff;
$subtitleColor : #fff;
$buttonColor : linear-gradient(112.62deg, #8D1CFE 29.4%, #0038ED 105.15%); /* gradient */
$buttonColorHover : #39324D;
$textColor: #fff;
$primary: #fff;
$secondary: #2962EF;
$blueDark: #1046ce;
$footerColor: #999;
$inputHover: #00920ffd;
$priceColor: #6AD38F;
$buttonColorHover: #1046ce;

$textPrimeryColor: #fff;
$heroTitle: #fff;


// _Class
._text-center {
   text-align: center;
}

._title {
   font-family: 'Inter', sans-serif;
   font-style: normal;
   font-weight: 900;
   font-size: 40px;
   line-height: 44px;
   text-transform: uppercase;
   color: $titleColor;
}

._subtitle {
   font-family: 'Inter', sans-serif;   
   font-style: normal;
   font-weight: 300;
   font-size: 40px;
   line-height: 44px;
   text-transform: uppercase;
   color: $subtitleColor;
}

// Button
._button {
   font-family: 'Inter', sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 13px;
   line-height: 13px;
   text-transform: uppercase;

   background: $buttonColor;
   // border: 2px solid $buttonColor;
   border-radius: 30px;
   padding: 26px 58px;

   transition: all .3s ease-in;

   &:hover {
      background: $buttonColorHover;
   }
}

._button-center {
   display: flex;
   justify-content: center;
   margin: 0 auto;
}
._button-white {
   color: #fff;
}
._button-dark {
   color: $buttonColorHover;
}
._button-yellow {
   color: #FCDB5A;
}

